html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(70, 70, 70);
}

.wrapper {
    margin: 0 auto;
    padding: 20px 10px;
    width: 900px;
}

.textarea {
    display: block;

    margin: 0 auto;
    padding: 10px;
    width: 800px;
    height: 200px;

    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgb(50, 50, 50);
    border-radius: 5px;
}

.keyboard {
    margin: 25px auto;
    padding: 20px 10px;
    width: 780px;
    background: rgb(50, 50, 50);
    box-shadow:inset 0px 0px 6px 3px rgba(35, 35, 35, 0.9);
    border-radius: 5px;
}

.row {
    margin-left: -3.5px;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
}

.key {
    margin-left: 6px;
    padding: 0;
    width: 43px;
    height: 43px;

    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    
    background: rgb(50, 50, 50);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px rgba(255, 0, 0, 0.9), inset 0px 0px 6px 3px rgba(30, 30, 30, 0.9);
    
    cursor: pointer;
    user-select: none;
    
    transition: 0.15s;
}

.key:hover {
    outline: none;
    color: rgba(255, 0, 0, 0.9);
    text-shadow: 0px 0px 6px rgba(255, 0, 0, 1);
}

.key:focus {
    outline: none;
}

.active {
    color: rgba(255, 0, 0, 0.9);
    text-shadow: 0px 0px 6px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 3px 1px rgba(255, 0, 0, 0.5), inset 0px 0px 3px 3px rgba(30, 30, 30, 0.5);
    background: rgb(45, 45, 45);
}

.backspace {
    width: 136px;
}

.tab {
    width: 60px;
}

.delete {
    width: 70px;
}

.capslock {
    width: 100px;
}

.enter {
    width: 128px;
}

.shift {
    width: 114px;
}

.ctrl {
    width: 80px;
}

.win {
    width: 50px;
}

.alt {
    width: 60px;
}

.space {
    width: 266px;
}